
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - HOST=0.0.0.0
      - WATCHPACK_POLLING=true
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=500
    volumes:
      - .:/app
      - /app/node_modules
    command: npm start
    depends_on:
      - api

  api:
    image: node:18-alpine
    working_dir: /srv
    volumes:
      - ./db.json:/srv/db.json
    command: sh -c "npm install -g json-server && npx json-server --watch ./db.json --port 3001"
    ports:
      - "3001:3001"

    #     depends_on:
    #       db:
    #         condition: service_healthy
    #   db:
    #     image: postgres
    #     restart: always
    #     user: postgres
    #     secrets:
    #       - db-password
    #     volumes:
    #       - db-data:/var/lib/postgresql/data
    #     environment:
    #       - POSTGRES_DB=example
    #       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    #     expose:
    #       - 5432
    #     healthcheck:
    #       test: [ "CMD", "pg_isready" ]
    #       interval: 10s
    #       timeout: 5s
    #       retries: 5
    # volumes:
    #   db-data:
    # secrets:
    #   db-password:
    #     file: db/password.txt
